<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="OrderWalaEntities" connectionString="metadata=res://*/OrderWalaDatabase.csdl|res://*/OrderWalaDatabase.ssdl|res://*/OrderWalaDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=itmc-sql;initial catalog=ARohilaDatabase;persist security info=True;user id=sa;password=sa@123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="OrderWalaEntities" connectionString="metadata=res://*/OrderWalaDatabase.csdl|res://*/OrderWalaDatabase.ssdl|res://*/OrderWalaDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ApekshaDatabase.db.10904842.hostedresource.com;initial catalog=ApekshaDatabase;user id=ApekshaDatabase;password=rohilaA1990@;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="WebAdminPath" value="http://localhost/OrderWala.Web" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="OrderWala.Service.Service.OrderAccountService" behaviorConfiguration="ServiceBehavior">
        <endpoint name="endpoint1" address="" binding="webHttpBinding" bindingConfiguration="crossDomain"
                  contract="OrderWala.Service.Service.IOrderAccountService" behaviorConfiguration="OrderWala.WebhttpBehaviour">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint name="endpoint2" address="soap" binding="wsHttpBinding" contract="OrderWala.Service.Service.IOrderAccountService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="OrderWala.WebhttpBehaviour">
          <webHttp />
        </behavior>
        <behavior name="OrderWala.Service1AspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true" minFreeMemoryPercentageToActivateService="0"/>
    <bindings>
      <webHttpBinding>
        <binding name="crossDomain" crossDomainScriptAccessEnabled="true">
          <readerQuotas maxStringContentLength="5242880" maxArrayLength="16384" maxBytesPerRead="4096" />
          <security mode="None"></security>
        </binding>
      </webHttpBinding>
      <basicHttpBinding>
        <binding maxReceivedMessageSize="2147483647" >
          <readerQuotas maxDepth="2147483647"
          maxStringContentLength="2147483647"
          maxArrayLength="2147483647"
          maxBytesPerRead="2147483647"
          maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
