@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="parallax-section parallax-fx parallax-image-aboutus parallaxOffset no-padding">
  <div class="w100 ">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="parallax-content clearfix animated ">
            <h1 class="x2large">
              ABOUT SabjiMarket
            </h1>
            <h5 class="parallaxSubtitle">
              
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.parallax -->

  <div class="container main-container ">
  <div class="row innerPage">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="row userInfo">
        <div class="col-xs-12 col-sm-12">
          <h1 class="title-big text-center section-title-style2">
            <span >
              About us
            </span>
          </h1>
          
          <p class="lead text-center">
            Online Sabjimarket.com is a leading destination for buying Fresh Vegetables & Fruits in Surat, offering Fresh and best prices and a completely hassle-free experience with options of paying through Cash on Delivery
          </p>
          
          
          <hr class="hr hr30">
          <div class="row animated">
            <div class="col-lg-4 col-md-4 col-sm-6 col-sm-6">
              <img class="img-responsive" src="~/images/Home/123..jpg" alt="img">
              <h3 class="block-title-3">
                  <br />
                  <br />
               Customer Order 24*7 
              </h3>
              <p>
                Online Sabjimarket.com is a leading destination for buying Fresh Vegetables & Fruits in Surat, offering Fresh and best prices and a completely hassle-free experience with options of paying through Cash on Delivery
              </p>
              
              
              
            </div>
            
            <div class="col-lg-4 col-md-4 col-sm-6 col-sm-6">
              <img class="img-responsive" src="~/images/Home/12.jpg" alt="img">
              <h3 class="block-title-3">
                  <br />
                  <br />
                Selling vegetables and fruits online  
              </h3>
              <p>
               Now shop for your Daily vegetable needs with descriptions. Get the best prices and the best online Vegetable shopping experience every time.

              </p>
              
            </div>
            
            <div class="col-lg-4 col-md-4 col-sm-6 col-sm-6">
              <img class="img-responsive" src="~/images/Home/1234.jpg" alt="img">
              <h3 class="block-title-3">
                Guarantee for fresh Vegetable 
              </h3>
              <p>
                Now shop for your Daily vegetable needs with descriptions. Get the best prices and the best online Vegetable shopping experience every time.

              </p>
              
            </div>
            
            
            
          </div><!--/.row-->
          
          <hr>
        </div>
      </div>  <!--/row end-->
    </div>
  </div> <!--/.innerPage-->
    </div>




