@{
    ViewBag.Title = "TermCondition";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container main-container headerOffset">
  <div class="row innerPage">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="row userInfo">
        <div class="col-xs-12 col-sm-12">
          <h1 class=" text-left border-title"> Terms and Conditions </h1>
          <p > <strong> Welcome to Onlinesabjiwala.com an online Fresh Fruits & Vegetable shopping website.
Please read the following terms and conditions very carefully as your use of service is subject to your acceptance of and compliance with the following terms and conditions ("Terms").  </strong> </p>
          <p> All orders and purchases made through this website are subject to the Online Shopping Terms and Conditions outlined below. These Online Shopping Terms and Conditions may change from time to time without prior notice, at our discretion. </p>
            <p>Please make sure you have read our Website Privacy Policy and Terms and Conditions related to the use of this Website. </p>
          <hr>
          <div class="w100 clearfix">
            <h3> Introduction </h3>
            <p> We collect information from you in several different ways on this Site. One goal in collecting personal information from you is to provide an efficient, meaningful,and customized experience. For example, we can use your personal information to: </p>
           

              <p>(a) Registration and Ordering. Before using certain parts of any Site or ordering products, you must complete an online registration form. During registration,you will be prompted to provide to us certain personal information, including but not limited to your name, shipping and billing address, phone number, email address etc. </p>
              
              <p>(b) Email Addresses. Several locations of the Site permit you to enter your email address for purposes including but not limited to: to register for a contest or sweepstakes; to request us to notify you of new brands, new product styles, or product sizes; to sign up for email newsletters and special offers etc. </p>
              <p>(c) Product Reviews. You may choose to submit a product review. If you post a review, we will ask for your email address and geographic location. If you submit a review, your geographic location will be visible to other users (your email address will be kept private). Also, any personally identifiable information that you submit as part of the review can be read or used by other visitors to the Site. We are not responsible for any personally identifiable information that you choose to submit as part of your review. We believe you can post a helpful review without disclosing any personal informations. </p>
               <hr>

            <h3> User Account, Password, and Security: </h3>
            <p> You agree to provide Onlinesabjiwala.com with accurate and complete information as required by registration for the Onlinesabjiwala Service including, but not limited to, your legal name, billing and Shipping addresses, telephone/mobile  number and update your account details at Onlinesabjiwala.com of any change later.  </p>
            <hr>
              <h3>Usage of the Mobile Number of the User: </h3>
              <p>Onlinesabjiwala.com may send order confirmation & update the customer on the order status and any further order information via Email-id or Contact Number given by the customer at the time of ordering. </p>
              <p>The customer hereby unconditionally consents such intimation via SMS/Call by onlinesabjiwala.com in accordance with the 'Do not disturb' guidelines of Telecom Surat. </p>
              <hr>
            <h3> Privacy and Security : </h3>
            <p>Your privacy is very important to Onlinesabjiwala.com. Please click here to review a complete statement of our Privacy and Security Policy which also governs your use of Sabjimarket.com and the Sabjimarket Service.  </p>
            <hr>
            <h3> User Conduct and Rules: </h3>
            <p> We may share non-personal information (such as the number of daily visitors to a particular web page, or the size of an order placed on a certain date) with third parties such as advertising partners. This information does not directly personally identify you or any user.  </p>
            <p> Onlinesabjiwala.com may give notice to you of a change in this Agreement and any other matter by general posting on Onlinesabjiwala.com, by electronic mail, or by conventional mail to your address contained in the Myaccount "Address Book".  </p>
            <hr>
            <h3> Shipping: </h3>
            <p> Onlinesabjiwala.com provides an online vegetables & fruits shopping Service. Upon placing an order on Onlinesabjiwala.com, delivery will be made to the Shipping address that you specify when you confirm your order.  </p>
            <p>You are responsible for ensuring that someone is present at the shipping / delivery address to receive and pay for deliveries at the specified time of delivery. </p>
            <p>Anyone at the delivery address who receives the delivery is conclusively presumed to be authorized to receive and pay for the order. If onlinesabjiwala.com cannot deliver your order, or must make an additional delivery because no one is at the delivery address to receive and pay for the
 order at the specified time, or wrong address / details given to us by you, will be assessed an additional charges. If you are not satisfied for any reason with an item purchased through the onlinesabjiwala.com, you may call customer service no at the time of receiving your order. </p>
            <hr>
            <h3> Delivery : </h3>
            <p> </p>
            <ul class="list-dot">
              <li> Provide  COD-Cash On delivery  services. </li>
              <li> selling vegetables and fruits online . </li>
              <li> Free Home Delivery services on specific amount . </li>
              <li>Provide services to Customer ordering the product into 24*7.</li>
              <li>Guarantee for fresh Vegetable provide to customer.</li>
            </ul>
            
              <hr>
            
              <h3> Return & Refunds: </h3>
            <p> </p>
            <ul class="list-dot">
              <li> Return  product into 24  Hours when Customer is not satisfy. </li>
              <li>We have a "No questions asked return and refund policy" which entitles all our customers to return the product at the time of delivery if due to some reason they are not satisfied with the quality or freshness of the product. </li>
              <li> We will take the returned product back with us and make the necessary adjustments to your order value. </li>
              
            </ul>
            
              <hr>
           
            <hr>
          </div>
        </div>
      </div>
      <!--/row end--> 
      
    </div>
  </div>
  <!--/row-->
  
  <div style="clear:both"> </div>
</div>






