@model adminsite.Models.DTO.Admindto
@{
    ViewBag.Title = "ChangePassword1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("ChangePassword1", "Login", FormMethod.Post, new { @class = "form-horizontal" }))
{
 <div id="page-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Change Password </h3>
                    </div>

                    <div class="panel-body">
                          @Html.HiddenFor(Model => Model.adminid, new { @class = "form-control" })

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Old Password</label>
                            <div class="col-md-6 col-sm-6">
                                @Html.TextBoxFor(Model => Model.password, new { @class = "form-control", @placeholder = "Old Password" , @maxlength="10" , @minlength="6"})
                               
                            </div>
                        </div>



                        <div class="form-group">
                            <label class="col-sm-3 control-label">new Password</label>
                            <div class="col-md-6 col-sm-6">
                                 @Html.TextBoxFor(Model => Model.NewPassword, new { @class = "form-control", @placeholder = "New Password" , @maxlength="10" , @minlength="6"})
                                
                            </div>
                        </div>


                         <div class="form-group">
                            <label class="col-sm-3 control-label">Confirm Password</label>
                            <div class="col-md-6 col-sm-6">
                                 @Html.TextBoxFor(Model => Model.confirmPassword, new { @class = "form-control", @placeholder = "Confirm password" , @maxlength="10" , @minlength="6"})
                               
                            </div>
                        </div>
                        
                       
                            <div class="row">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-6">
                                    <button class="btn btn-info btn-labeled fa fa-thumbs-o-up" type="submit">Submit</button>
                                </div>
                            </div>
                       

                    </div>
                </div>
            </div>


        </div>


    </div>
}